*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    background-color: black;
    font-family: Arial, sans-serif;
    color: black;
    height: 100%;
    flex-direction: column;
}

.cabecera{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: red;
    color: black;
    width: 100%;
    box-sizing: border-box;
}

.logo img{
    width: 85px;
    height: 85px;
    background-color: red;
    padding-left: 90px;
    padding-right: none;
}

.formCabecera input{
    border: none;
    width: 200px;
    padding-left: none;
    padding-right: 50px;
}

.formCabecera button{
    background-color:black;;
    border: none;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 50px;
    align-items: center;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

.footer{
    display: flex;
    background-color: red;
    color: black;
    text-align: center;
    width: 100%;
    padding: 20px;
    gap: 20px;
    box-sizing: border-box;
}

.footer a{
    color: black;
    text-decoration: none;
    display: flex;
}

.divFooter{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    margin-left: 33%;
}
